<?xml version="1.0"?>
<appSettings>
  <!-- ============================== -->
  <!--  ASP.NET                       -->
  <!-- ============================== -->
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- ============================== -->
  <!--  GENERAL                       -->
  <!-- ============================== -->
  <add key="SiteName" value="Default" />
  <add key="DefaultLanguage" value="en-US" />
  <add key="DefaultTheme" value="TwentyTwelve - Dark" />
  <add key="DefaultPageTemplate" value="Header-Content-Footer" />
  <add key="DefaultModuleTemplate" value="Standard" />
  <!-- DefaultMembershipName (Email|UserName) -->
  <add key="DefaultMembershipName" value="UserName" />
  <add key="FolderForFiles" value="~/files/" />
  <!-- ============================== -->
  <!--  ROLES                         -->
  <!-- ============================== -->
  <add key="RoleSuperAdmin" value="SuperAdmin" />
  <add key="RoleAdmin" value="Admin" />
  <!-- ============================== -->
  <!--  USERS                         -->
  <!-- ============================== -->
  <add key="UserSuperAdminName" value="superadmin" />
  <add key="UserSuperAdminEmail" value="superadmin@mysite.com" />
  <add key="UserAdminName" value="admin" />
  <add key="UserAdminEmail" value="admin@mysite.com" />
</appSettings>
